<!-- system modal start -->
<div id="blog-alert" class="ui modal" style="width:480px;height:150px;">
  <div class="header">
    <i class="close icon"></i>
    <p>[Title]</p>
  </div>
  <div class="content">
    <p>[Message]</p>
  </div>
  <div class="actions">
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      [BtnOk]
    </div>
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      [BtnCancel]
    </div>
  </div>
</div>
<!-- system modal end -->
