<!-- 模态框（Modal） -->
<div id="impModal" class="ui small modal" style="width:480px;height: 195px;">
  <div class="header">
    <i class="close icon"></i>
    <h4>导入json文件</h4>
  </div>
  <div class="content">
    <form class="ui form" id="form" method="post" enctype="multipart/form-data">
      <div class="inline field">
        <label>文件<font color="red">*</font>：</label>
        <input type="file" name="formFile" id="formFile" class="form-control" required accept=".json">
      </div>
    </form>
  </div>
  <div class="actions">
    <div id="uploadBtn" class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      上传
    </div>
    <div class="ui red basic cancel button">
      <i class="remove icon"></i>
      取消
    </div>
  </div>
</div>
