<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= blog.title %></title>
  <link rel="stylesheet" href="/css/semantic.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/css/buttons.dataTables.min.css">
  <link rel="stylesheet" href="/css/select.dataTables.min.css">
  <link rel="stylesheet" href="/css/editor.dataTables.min.css">
  <script src="/plugins/jquery-1.11.3.min.js"></script>
  <script src="/plugins/semantic.min.js"></script>
  <script src="/plugins/bootstrap.min.js"></script>
  <script src="/plugins/jquery.dataTables.min.js"></script>
  <script src="/plugins/dataTables.buttons.min.js"></script>
  <script src="/plugins/dataTables.select.min.js"></script>
  <script src="/plugins/dataTables.editor.min.js"></script>
  <script src="/js/table.js"></script>
  <script src="/js/footer.js"></script>

</head>
<body>
<%- include('components/nav') %>
<%- include('components/nav-setting') %>
<%- include('components/notification') %>
