<%- include('header') %>
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="/css/select.dataTables.min.css">
<link rel="stylesheet" href="/css/editor.dataTables.min.css">
<script src="/plugins/bootstrap.min.js"></script>
<script src="/plugins/jquery.dataTables.min.js"></script>
<script src="/plugins/dataTables.buttons.min.js"></script>
<script src="/plugins/dataTables.select.min.js"></script>
<script src="/plugins/dataTables.editor.min.js"></script>
<script src="/js/alert.js"></script>
<script src="/js/table.js"></script>

<table id="example" class="display" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th></th>
    <th>code</th>
    <th>zh</th>
    <th>en</th>
    <th>author</th>
    <th>createTime</th>
    <th>modifyTime</th>
    <th></th>
  </tr>
  </thead>
</table>

<%- include('components/alert') %>
<%- include('components/import') %>
<%- include('footer') %>
