<%- include('header') %>
<div id="bts"></div>
<table id="example" class="display" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th></th>
    <th>code</th>
    <th>zh</th>
    <th>en</th>
    <th>createTime</th>
    <th>modifyTime</th>
  </tr>
  </thead>
</table>

<%- include('components/import') %>
<%- include('footer') %>
