body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, labea, abbr, acronym, address, applet, big, blockql, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: Microsoft YaHei;
  vertical-align: baseline;
}

ul li {
  list-style: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #d1d5da;
  font-family: Microsoft YaHei;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #d1d5da;
  font-family: Microsoft YaHei;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #d1d5da;
  font-family: Microsoft YaHei;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #d1d5da;
  font-family: Microsoft YaHei;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.show {
  display: block !important;
}

#wrapper {
  background: #f9f9f9;
  width: 100%;
}

#container {
  font-size: 12px;
  background: #fff;
  margin: 30px 34px;
  border: 1px solid #d1d5da;
  box-shadow: 0px 0px 5px #666;
  position: relative;
}

#container .menu {
  color: #959493;
  background: #f9f9f9;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #d1d5da;
}

#container .menu li {
  padding: 0 32px;
  line-height: 52px;
  color: #959493;
  float: left;
  border-top: 1px solid #fff;
  cursor: pointer;
}

#container .menu .active {
  background: #fff;
  border: 1px solid #d1d5da;
  border-bottom: 0;
  margin-top: -3px;
  margin-left: -1px;
  color: #40a8de;
  line-height: 55px;
}

#container .config-page {}

#container .tab-basic {
  padding: 80px 120px;
}

#container .tab-basic .form1 {
  margin-bottom: 30px;
  overflow: hidden;
}

#container .tab-basic .form1 span {
  display: inline-block;
  width: 340px;
}

#container .tab-basic .form1 span input {
  width: 255px;
  height: 50px;
  padding-left: 15px;
  box-sizing: border-box;
  border: 1px solid #d1d5da;
}

#container .tab-basic .form1 span i {
  color: red;
  font-size: 18px;
  font-style: normal;
  display: block;
  float: right;
  line-height: 52px;
  padding-right: 20%;
}

#container .tab-basic .form2 {
  margin-bottom: 80px;
}

#container .tab-basic .form2 textarea {
  resize: none;
  width: 598px;
  height: 145px;
  border: 1px solid #d1d5da;
  background: #fafafa;
  padding: 15px;
  box-sizing: border-box;
}

#container .tab-basic .group-img {
  margin-bottom: 5px;
}

#container .tab-basic .group-img a {
  text-decoration: none;
  width: 160px;
  height: 52px;
  background: #40a8de;
  color: #fff;
  text-align: center;
  border: 0;
  border-radius: 5px;
  display: block;
  float: left;
  cursor: pointer;
}

#container .tab-basic .group-img .text-content {
  float: left;
  color: #d1d5da;
  line-height: 26px;
  padding-left: 15px;
}

#container .tab-basic .group-btn {}

#container .tab-basic .group-btn button {
  width: 160px;
  height: 50px;
  background: #40a8de;
  color: #fff;
  text-align: center;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

#container .tab-basic .group-btn .cancel {
  margin-left: 80px;
  background: #d2d1d1;
}

.config-page .tab-map .map-top, .tab-map-data .map-top {
  width: 100%;
  height: 62px;
  background: #fff;
}

.config-page .tab-map .map-top .map-title, .tab-map-data .data-title, .tab-upload .data-title {
  color: #959493;
  font-size: 16px;
  padding-left: 25px;
  line-height: 62px;
}

.config-page .tab-map .map-top .map-btn {
  float: right;
  padding: 24px 16px 0 0;
}

.config-page .tab-map .map-top .map-btn button, .tab-map-data .data-top .data-btn button {
  line-height: 30px;
  width: 108px;
  height: 30px;
  color: #fff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.config-page .tab-map .map-top .map-btn .add {
  background: #40a8de;
}

.config-page .tab-map .map-top .map-btn .delete {
  background: #ff845e;
}

.config-page .tab-map .map-wrap {
  width: 100%;
  border-collapse: collapse;
}

.config-page .tab-map .map-wrap .map-config {
  height: 38px;
  line-height: 38px;
  background: #f9f9f9;
}

.config-page .tab-map .map-wrap .map-config tr {
  border: 1px solid #d1d5da;
  border-left: 0;
  border-right: 0;
}

.config-page .tab-map .map-wrap td {
  text-align: center;
  border-spacing: 0;
}

.config-page .tab-map .map-wrap .checkbox {
  width: 14px;
  height: 14px;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 45%;
}

.config-page .tab-map .map-wrap .checkbox-th {
  background: url(../img/select.png) no-repeat 0px 0px;
}

.config-page .tab-map .map-wrap .checkbox-tb {
  background: url(../img/select.png) no-repeat 42px 0px;
}

.config-page .tab-map .map-wrap .th-clicked {
  background: url(../img/select.png) no-repeat -14px 0px;
}

.config-page .tab-map .map-wrap .tb-clicked {
  background: url(../img/select.png) no-repeat -43px -1px;
}

.config-page .tab-map .map-wrap .map-list tr {
  border-bottom: 1px solid #d1d5da;
  background: #fff;
  color: #aeaeae;
  height: 38px;
  line-height: 38px;
}

.config-page .tab-map .map-wrap .map-list .edit {
  background: url(../img/edit.jpg);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 70px;
  float: left;
  display: inline-block;
  cursor: pointer;
}

.config-page .tab-map .map-wrap .map-list .delete {
  background: url(../img/delete.jpg);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 42px;
  float: left;
  display: inline-block;
  cursor: pointer;
}

.config-page .tab-map-data .data-top .data-btn .save {
  background: #40a8de;
  position: relative;
}

.config-page .tab-map-data .data-top .data-btn .save img {
  position: absolute;
  top: 9px;
  left: 23px;
}

.config-page .tab-map-data .data-top .data-btn {
  padding-right: 16px;
  float: right;
}
.config-page .tab-upload{
  width:100%;
  height:100%;
}
.config-page .tab-map-data .data-list, .config-page .tab-map-data .data-top, .config-page .tab-upload .data-list {
  width: 100%;
  height: 62px;
  background: #fff;
  line-height: 62px;
  border-bottom: 1px solid #d1d5da;
}

.config-page .tab-map-data .data-top {
  margin-bottom: 40px;
}

.config-page .tab-map-data .data-type-wrap input, .data-type-wrap .text-select-PC {
  width: 220px;
  height: 32px;
  border: 1px solid #d1d5da;
}

.config-page .tab-map-data .data-type-wrap .text-wrap {
  float: left;
}


/*.config-page .tab-map-data .data-type-wrap .text-select-PC {
    background: url(img/%E4%B8%89%E8%A7%92.jpg)no-repeat;
    background-position: 95% 50%;
    display: inline-block;
    float: left;
}*/

.config-page .tab-map-data .data-type-wrap option {
  width: 220px;
  height: 32px;
}

.config-page .tab-map-data .data-type-wrap .text-name, .text-rack, .text-select-PC {
  margin-left: 100px;
  padding-left: 15px;
  box-sizing: border-box;
  line-height: 32px;
  color: #959493;
}

.config-page .tab-map-data .data-type-wrap .text-name, .text-rack {
  float: left;
}

.text-rack::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #959493;
  font-family: Microsoft YaHei;
}

.text-rack:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #959493;
  font-family: Microsoft YaHei;
}

.text-rack::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #959493;
  font-family: Microsoft YaHei;
}

.text-rack:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #959493;
  font-family: Microsoft YaHei;
}

.text-name::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #959493;
  font-family: Microsoft YaHei;
}

.text-name:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #959493;
  font-family: Microsoft YaHei;
}

.text-name::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #959493;
  font-family: Microsoft YaHei;
}

.text-name:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #959493;
  font-family: Microsoft YaHei;
}

.config-page .tab-map-data .data-type-wrap span {
  color: red;
  font-size: 18px;
  display: block;
  float: left;
  line-height: 32px;
  padding-left: 5px;
}

.config-page .tab-map-data .data-list-wrap {
  margin: 34px auto;
  width: 540px;
}

.config-page .tab-map-data .data-list-wrap li {
  margin-bottom: 38px;
}

.config-page .tab-map-data .data-list-wrap li input {
  width: 220px;
  height: 32px;
  border: 1px solid #d1d5da;
  background: #f2f1f1;
}

.tab-map-data .data-list-wrap div {
  width: 220px;
  height: 32px;
  border: 1px solid #d1d5da;
  float: right;
  padding: 5px 10px;
  color: #959493;
  box-sizing: border-box;
  cursor: pointer;
}

.tab-map-data .data-list-wrap input {
  box-sizing: border-box;
  padding-left: 10px;
  color: #959493;
}

.tab-map-data .data-list-wrap .color-red {
  color: red;
}

.tab-map-data .data-list {
  position: relative;
}

.tab-map-data .data-list .map-list-btn {
  line-height: 30px;
  width: 108px;
  height: 30px;
  color: #fff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  background: #d2d1d1;
  position: absolute;
  right: 16px;
  bottom: -66px;
}

.tab-map-data .data-list .data-subtitle, .tab-upload .data-subtitle {
  color: #959493
}

.tab-map-data .equip-wrap {
  width: 100%;
  margin-top: 36px;
  padding-left: 12%;
  margin-bottom: 100px;
}

.tab-map-data .equip-wrap div {
  width: 124px;
  height: 30px;
  background: #d2d1d1;
  float: left;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  margin-right: 42px;
  cursor: pointer;
}

.tab-map-data .equip-wrap .bg-blue {
  color: #fff;
  background: #40a8de;
}


/*数据上传*/

.tab-upload .data-img-wrap {
  padding: 4% 8%;
}

.tab-upload .data-img-wrap .img-3d {
  float: left;
}

.tab-upload .data-img-wrap .img-udcb {
  float: right;
}

.tab-upload .data-img-wrap .max-model, .tab-upload .data-img-wrap .max-layout {
  width: 202px;
  height: 265px;
  float: left;
  position: relative;
}

.tab-upload .data-img-wrap p {
  float: left;
  font-size: 16px;
  color: #40a8de;
  font-weight: 600;
  width: 80px;
  text-align: center;
}

.tab-upload .data-img-wrap input[type='file'] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.tab-upload .data-img-wrap a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
}

.tab-upload .data-img-wrap .width-max {
  width: 100%;
  text-align: center;
  line-height: 58px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.tab-upload .data-img-wrap .gray {
  color: #d2d1d1;
}

.tab-upload .upload-list {
  width: 100%;
  border-collapse: collapse;
}

.tab-upload .upload-list tr {
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #d1d5da;
}

.tab-upload .upload-list td {
  text-align: center;
}

.tab-upload .upload-list thead {
  background: #f9f9f9;
  color: #000;
  font-weight: 600;
}

.tab-upload .upload-list tbody td {
  color: #686868;
}

.tab-upload .upload-list .color-red {
  color: red;
}

.tab-products .products-navbar {
  width: 100%;
  height: 62px;
  background: #fff;
  line-height: 62px;
  border-bottom: 1px solid #d1d5da;
}

.tab-products .products-navbar .nav-btn {
  height: 100%;
  float: left;
  padding-top: 6px;
}

.tab-products .products-navbar .nav-btn p {
  float: left;
  border-bottom: 6px solid #fff;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0 14px;
  color: #959493;
  margin-left: 20px;
  cursor: pointer;
}

.tab-products .products-navbar .nav-btn .show {
  color: #40a8de;
  border-bottom: 6px solid #40a8de;
}

.tab-products .products-navbar .nav-wrap-const, .tab-products .products-navbar .nav-map-const {
  float: right;
}

.tab-products .products-navbar button {
  width: 108px;
  height: 30px;
  line-height:30px;
  color: #fff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.tab-products .products-navbar .upload {
  background: #40a8de;
}

.tab-products .products-navbar .download {
  background: #ff845e;
}

.tab-products .products-navbar .map {
  background: #74797c;
}

.tab-products .products-navbar .nav-search {
  float: right;
  width: 306px;
  height: 34px;
  border: 1px solid #d1d5da;
  margin: 13px 18px 0 30px;
  position: relative;
}

.tab-products .products-navbar .nav-search span {
  width: 34px;
  height: 34px;
  background: url(../img/search.jpg) no-repeat center;
  display: block;
  float: left;
  cursor: pointer;
  position: absolute;
  left: 5px;
}

.tab-products .products-navbar .nav-search input {
  width: 100%;
  height: 100%;
  border: 0;
  float: right;
  padding-left: 40px;
  box-sizing: border-box;
  line-height: 34px;
}

/* input=file  美化按钮样式 --- GJM */
.btn_addPic{
  display: block;
  position: relative;
  width: 140px;
  height: 39px;
  overflow: hidden;
  border: 1px solid #EBEBEB;
  background: none repeat scroll 0 0 #F3F3F3;
  color: #999999;
  cursor: pointer;
  text-align: center;
}
.btn_addPic span{
  display: block;line-height: 52px;
}
.filePrew {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 39px;
  font-size: 100px; /* 增大不同浏览器的可点击区域 */
  opacity: 0; /* 实现的关键点 */
  filter:alpha(opacity=0);/* 兼容IE */
}

/* input=file  美化按钮样式 --- GJM */
.btn_uploadPic{
  display: block;
  position: relative;
  width: 108px;
  height: 30px;
  line-height:30px;
  margin-top: 16px;
  margin-right: 10px;
  overflow: hidden;
  color: #fff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  float: right;
  text-decoration : none;
}
.btn_uploadPic span{
  display: block;
  text-decoration : none;
}
.uploadPic {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 39px;
  font-size: 100px; /* 增大不同浏览器的可点击区域 */
  opacity: 0; /* 实现的关键点 */
  filter:alpha(opacity=0);/* 兼容IE */
}
.modifyModelMappingBtn {
/*  background: url(../img/edit.jpg) no-repeat;*/
  float:right;
  background-size: cover;
  border: 0px;
  font-size: 20px;
  background: transparent;
  color: #3175AF;
}
.modifyModelMappingSave {
/*  background: url(../img/save.jpg) no-repeat;*/
  background: transparent;
  display: none;float:right;
  border: 0px;
  background-size: cover;
  font-size: 20px;
  color: #3175AF;
  padding-left: 4px;
}
.modifyModelMappingCancel {
/*  background: url(../img/delete.jpg) no-repeat;*/
  background-size: cover;
  display: none;float:right;
  border: 0px;
  font-size: 20px;
  background: transparent;
  color: #3175AF;
}

/*弹出框样式*/
.shadow-wrap{
  background:#000;
  filter:Alpha(Opacity=30);
  opacity: 0.3;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  display: none;
}
.modal-content{
  display:none;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  width:898px;
  height:698px;
}
.modal-content .modal-header{
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.modal-content .modal-header h3 {
  font-weight: 300;
  font-size: 23px;
  font-weight: 300;
  color: #000;
  line-height: 32px;
  width:90%;
}
.modal-content .modal-header span{
  width: 9px;
  height: 9px;
  display: block;
  cursor: pointer;
  position: absolute;
  right:15px;
  top:15px;
  background: url(../img/delete.png) no-repeat 0px 0px;
}
.modal-content .modal-header span:hover{
  background: url(../img/delete.png) no-repeat -9px 0px;
}
.modal-content .modal-body{
  padding: 15px;
  box-sizing: border-box;
  max-height: none;
  overflow: visible;
}
.modal-content .modal-body iframe{
  position:absolute;
  z-index:4;
  width:868px;
  height:600px;
  box-sizing: border-box;
}
/*分类映射 选择框*/
.text-rack-select-dcv {
  margin-left: 315px;
  padding-left: 15px;
  box-sizing: border-box;
  line-height: 32px;
  color: #959493;
  width: 220px;
  height: 32px;
  border: 1px solid #d1d5da;
}
.text-rack-select-vmdb {
  margin-left: 98px;
  padding-left: 15px;
  box-sizing: border-box;
  line-height: 32px;
  color: #959493;
  width: 220px;
  height: 32px;
  border: 1px solid #d1d5da;
}
.text-rack-select-vmdb-def {
  margin-left: 98px;
  padding-left: 15px;
  box-sizing: border-box;
  line-height: 32px;
  color: #959493;
  width: 220px;
  height: 32px;
  border: 1px solid #d1d5da;
}
/*分页*/
#Pagination{
  position: absolute;
  bottom:7px;
  right:0;
  width:100%;
  text-align: right;
  padding-right: 10px;
  line-height: 20px;
}
#Pagination a{
  padding: 3px 10px;
  background:#afabab;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  margin:0 5px;
}
#Pagination .next, #Pagination .prev{
  padding: 3px 10px;
  background: #40a8de;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}
#Pagination .current{
  padding: 3px 10px;
  background: #666;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  margin:0 5px;
}
/*分页*/
#ClassMappingListTable{
  position: absolute;
  bottom:7px;
  right:0;
  width:100%;
  text-align: right;
  padding-right: 10px;
  line-height: 20px;
}
#ClassMappingListTable a{
  padding: 3px 10px;
  background:#afabab;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  margin:0 5px;
}
#ClassMappingListTable .next, #ClassMappingListTable .prev{
  padding: 3px 10px;
  background: #40a8de;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}
#ClassMappingListTable .current{
  padding: 3px 10px;
  background: #666;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  margin:0 5px;
}
.showModelMappingUserModel{
  display: block;
  width: 100%;
  line-height:20px;
  font-size:16px;
  margin-top: 0px;
  padding-top: 0px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}
.showModelMappingDiv{
  display: block;
  width: 100%;
  line-height: 20px;
  font-size: 16px
}
.modifyModelMappingSpan{
  display:block;
  width:90%;
  float:left;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.modifyModelMappingDiv{
  display: none;
  width: 100%;
  line-height: 20px;
}
.modifyModelMappingDivSelect{
  width:76%;
  height:26px;
  float:left;
  font-size:16px;
}
.max-model-a-blue {  /* 蓝色 */
   background:url(../img/upload_07.jpg) no-repeat top
 }
.max-model-a-glay {
  background:url(../img/model.jpg) no-repeat top
}
.max-layout-a-blue {
  background:url(../img/upload_blue.png) no-repeat top
}
.max-layout-a-glay {
  background:url(../img/upload_05.jpg) no-repeat top
}
.udcb-model-a-blue {
  background:url(../img/upload_03.jpg) no-repeat top
}
.udcb-model-a-glay {
  background:url(../img/model.jpg) no-repeat top
}
.udcb-layout-a-blue {
  background:url(../img/pic-blue.jpg) no-repeat top
}
.udcb-layout-a-glay {
  background:url(../img/upload_09.jpg) no-repeat top
}
